<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <h1 class="space-top text-center">Login</h1>
  
        <hr />
  
        <form role="form" method="post">
  
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
  
        <button type="submit" class="btn btn-success">Submit</button>
  
      </form>
      <hr>
  
    </div>
  </div>
  </div>
</body>